.calculator{
    /* content-style */
    padding: 8px;
    width: 400px;
    
    /* content-layout */
    display:flex;
    flex-direction: column;
}

.btns{
    /* content-layout */
    display: grid;
    grid-template: 
    "num num num opr" 100px
    "num num num opr" 100px
    "num num num opr" 100px
    "num num num opr" 100px
    /100px 100px 100px 100px;
}

.board{
    /* content-style */
    border-inline: 5px solid gray;
    height: 50px;

    /* content-layout */
    grid-area: bod;
    text-align: right;
}